<div>
    <div class="modal-header">
        <h3 class="modal-title">Добавление жанра</h3>
    </div>
    <div class="modal-body" ng-show="isEdit">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-3"></div>
                <label class="control-label col-sm-2" for="name">Название:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="name" placeholder="Enter name genre"
                           ng-model="genre.name"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <button class="btn btn-default" ng-click="save(genre)">Сохранить</button>
                    <button class="btn btn-default" ng-click="closeAndExit()">Выйти</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-body" ng-show="isLoad">
        <h1>Загрузка данных...</h1>
    </div>
    <div ng-hide="isEdit" class="modal-body">
        <h1>{{result}}</h1>
        <button class="btn btn-default" ng-click="closeAndExit()">Ок</button>
    </div>
</div>
