<div class="well row">
    <div class="col-sm-3 img_container">
        <img src="http://kingofwallpapers.com/book/book-012.jpg" class="img-rounded">
    </div>
    <div class="col-sm-7">
        <h3>Name: Name</h3>
        <p>page count: 31</p>

        <p>publish date: 12.11.65</p>
        <p>author: <a href="#">author</a></p>
        <p>genre : <a href="#">genre</a></p>
        <p>description: description</p>
        <div>
            <button class="btn btn-success">edit</button>
            <button class="btn btn-danger">delete</button>
        </div>
    </div>
</div>
